*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  cursor: pointer;
}


.header{
  width: 100%;
  height: 100vh;
  background-color :white;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header1{
  width: 100%;
  height: 100vh;
  background: rgb(60, 179, 96);
  position: relative;
  display: none;
  border-top: 1px solid rgb(60, 179, 96);
}


nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  z-index: 1;
  border-bottom: 3px solid rgb(255, 31, 50);
}

.nav-links ul li{
display: inline-block;
padding: 10px 20px;
position: relative;
right: 560px;
z-index: 3;
}


.nav-links ul li a{
  color: black;
  font-size: 18px;
}



.nav-links ul li ::after{
  content: '';
  width: 0;
  height: 4px;
  background: rgb(70, 190, 106);
  margin: auto; 
  display: block;
  transition: 1s;

}

.nav-links ul li:hover ::after{
  width: 100%;
}




nav img{
width: 380px;
z-index: 3;
}

.doc{
  width: 140px;
  position: absolute;
  top: -60px;
  right: -565px;
}

.heart{
  position: absolute;
  top: 50px;
  left:50%;
  width: 100px;
  z-index: 2;
}

.heart2{
  position: absolute;
  top: 59px;
  left:41%;
  width: 40px;
  z-index: 2;
}



.contact{
  margin-top: 10px;
  position: absolute;
  top: 150px;
}

.contact-image{
  width: 100%;
  display: none;
 
}



/*--------------------------------------------------------------------------icons fitting------------------*/


.web{
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  position: absolute;
  top: 158px;
  

}



.webing{
position: absolute;
top: 50%;
left: 30%;
width: 40%;
display: none;

}


.background23{
  background-color: rgb(230, 230, 230);
  width: 760px;
  height: 410px;
  position: absolute;
  top: 50%;
 left: 30%;
 padding: 50px;



}

.Cont{
  font-size: 25px;
  position: absolute;
  top: 515px;
  left: 39.5%;
  color: rgb(30, 170, 30);
  font-weight: 900;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1;
}



.get-in-touch{
  position: absolute;
  top: 565px;
  left: 37.3%;
  text-align: left;
  font-weight: 900;
  z-index: 2;
}

.enelop{
  position: absolute;
  top: 648.2px;
  left: 47.5%;
  width: 30px;
  z-index: 2;
}

.mail{
  position: absolute;
  top: 678.2px;
  left: 35.7%;
  font-size: 16px;
  text-align: right;
  font-weight: 900;
  z-index: 2;
}

.call{
  position: absolute;
  top: 760px;
  left: 42.5%;
  text-align: right;
  font-weight: 900;
  z-index: 2;
}


.bottom-back{
  background-color: rgb(157, 255, 201);
  width: 300px;
  height: 7.5vh;
  position: absolute;
  top: 755px;
  left: 51%;
  z-index: 2;
}

.telephone{
  position: absolute;
  top: 715px;
  left: 47.5%;
  width: 40px;
  z-index: 2;
}

.bottom-back img{
  width: 100px;
  margin-left: 95px;
  margin-top: 5px;
}


/*------------------------------------------------------CONTACT BOX----------------------*/

.conatiner-box{
  background-color: rgb(255, 255, 255);
 

 
}

.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
  margin-bottom: 20px;
}

.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background-color: blue;
  
}


.main-container{
  width: 40%;
  margin: 10px auto;
  background-color: rgba(17, 204, 95, 0.219);
  
  
  
  
}



/*--------------------------------------------------------------------------------designing input box------------------*/

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group{
flex-basis: 45%;
}

input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 10px;
  
}

textarea {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;

}

label{
  margin-bottom: 6px;
  display: block;
  color: #000000;
}

button{
  background-color: rgb(70, 190, 106);
  width: 100px;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  height: 35px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 10px 15px 0 rgba(28, 0, 161, 0.3);
  transition: 1s;
  
}


button:hover{
  background-color: rgb(76, 236, 124);
  color: rgb(0, 0, 0);
}





.contact-left h3{
  margin-bottom: 30px;
  color: rgb(70, 190, 106);
  font-weight: 600;
}