*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  cursor: pointer;
}


.header{
  width: 100%;
  height: 100vh;
  background-image: url(exterior\ image\ health\ and\ wellness.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header1{
  width: 100%;
  height: 100vh;
  background: rgb(60, 179, 96);
  position: relative;
  display: none;
  border-top: 1px solid rgb(60, 179, 96);
}


nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  z-index: 1;
  border-bottom: 3px solid rgb(255, 31, 50);
}

.nav-links ul li{
display: inline-block;
padding: 10px 20px;
position: relative;
right: 560px;
z-index: 3;
}


.nav-links ul li a{
  color: black;
  font-size: 18px;
}



.nav-links ul li ::after{
  content: '';
  width: 0;
  height: 4px;
  background: rgb(70, 190, 106);
  margin: auto; 
  display: block;
  transition: 1s;

}

.nav-links ul li:hover ::after{
  width: 100%;
}




nav img{
width: 380px;
z-index: 3;
}

.doc{
  width: 140px;
  position: absolute;
  top: -60px;
  right: -565px;
}

.heart{
  position: absolute;
  top: 50px;
  left:50%;
  width: 100px;
  z-index: 2;
}

.heart2{
  position: absolute;
  top: 59px;
  left:41%;
  width: 40px;
  z-index: 2;
}

h1{
  position: absolute;
  top: 370px;
  left:13%;
  z-index: 2;
  color: rgb(240, 240, 240);
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 1s;
}

h1:hover{
  color: white;
}




h2{
  position: absolute;
  top: 500px;
  left: 19.3%;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}


.march{
  position: absolute;
  top: 540px;
  left: 14%;
  z-index: 2;
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  transition: 1s;
}


.march:hover{
  color: rgb(255, 255, 255);
}




.trangle2{
  position: absolute;
  top: 520px;
  left:41%;
  width: 500px;
}


.trangle{
 transition: 1s;
 opacity: 0.9;
}

.trangle:hover{
 opacity: 2;
}



.meds1{
  position: absolute;
  top: 180px;
  right: 390px;
  width: 70px;
  z-index: 4;
  opacity: 0.5;
 padding: 5px;
  transition: 1s;
}

.meds1:hover{
  border: 2px solid white;
  width: 80px;
  padding: 5px;
  opacity: 0.7;
}



.meds2{
  position: absolute;
  top: 730px;
  right: 190px;
  width: 70px;
  z-index: 4;
  opacity: 0.5;
  padding: 5px;
  transition: 1s;
}

.meds2:hover{
  border: 2px solid white;
  width: 80px;
  padding: 5px;
  opacity: 0.7;
}




.meds3{
  position: absolute;
  top: 670px;
  right: 840px;
  width: 70px;
  z-index: 4;
  opacity: 0.5;
  padding: 5px;
  transition: 1s;
}

.meds3:hover{
  border: 2px solid white;
  width: 80px;
  padding: 5px;
  opacity: 0.7;
}


.meds4{
  position: absolute;
  top: 850px;
  right: 1340px;
  width: 70px;
  z-index: 4;
  opacity: 0.5;
  padding: 5px;
  transition: 1s;
}


.meds4:hover{
  border: 2px solid white;
  width: 80px;
  padding: 5px;
  opacity: 0.7;
}



/*------------------------------------------------footer------------------------------------------*/

.section-2{
  background-color: white;
  width: 100%;
  height: 52vh;
  z-index: -2;
  margin-top: 1px;
  border-top: 3px solid black;
  z-index: -3;
}

/*------------------------------------------------footer logo top------------------------------------------*/

.footer-logo{
  width: 10%;
  margin-top: 20px;
  margin-left: 810px;
}
/*------------------------------------------------footer container------------------------------------------*/

.footer-container{
  background-color: rgba(128, 128, 128, 0.089);
  background-image: url();
  height: 52vh;
  
}

.foot-tra{
  position: absolute;
  top: 932px;
  z-index: 0;
  opacity: 0.8;

}



.foot-med{
  position: absolute;
  top: 985px;
  z-index: 0;
}

.nave-link{
  z-index: 6;
}

/*------------------------------------------------container------------------------------------------*/
.container{
  padding: 20px 230px;

  
  }


  /*------------------------------------------------Footer flex-----------------------------------------*/
  footer{
    display: flex;
    justify-content: space-between;
   
  }
  

/*------------------------------------------------NAVE-LINKS------------------------------------------*/

  .nave-link ul li{
    padding: 3px;
    list-style: none;

  }
  
  .nave-link ul li a{
  color: white;
  }
  
  /*------------------------------------------------NAVE-LINKS2------------------------------------------*/
  .nave-link2 ul li{
    padding: 3px;
    list-style: none;
    z-index: 6;
   
  }
  
  .nave-link2 ul li a{

  }


    
  /*------------------------------------------------NAVE-LINKS2------------------------------------------*/

  hr{
    margin-bottom: 5px;
    width:100%;
    z-index: 3;
   
  }

.disclaimer{
  display: flex;
  justify-content: space-between;
  margin-left: 730px;
  margin-right: 730px;
  z-index: 3;
}



.office-p p{
  padding: 3px;
  z-index: 3;
}


.office-p{
  z-index: 3;
}

.reserved{
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}

h3{
  margin-bottom: 10px;

}

.social{
display: flex;
margin-right: 0px;
position: relative;
float: right;
top: -40px;
right: -1px;
padding: 7px;
z-index: 5;

}



.social img{
  width: 50px;
  margin: 4px;
  transition: 1s;

}

.social img:hover{
  border-radius: 50px 50px;
  box-shadow: 0 0 10px 0 rgb(70, 190, 106);

}

/*-------------------------------------------------------icones---------------------*/

.phone{
  width: 20px;
  align-items: center;
  margin-right: 8px;
}


/*=====================================social media styling---------------------------------*/

.face{
  color:cornflowerblue;
  transition: 1s;
}


/*-------------------------------------twitter---------------*/


.twit{
  color:rgb(108, 255, 255);
  transition: 1s;
}


/*-------------------------------------instagram---------------*/
.inst{
  color:rgb(255, 20, 165);
  transition: 1s;
}
